<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致       
 -->  
 <mapper namespace="com.valen.lark.dao.system.ISysPermissionDAO">
	<resultMap id="SysPerResultMap" type="com.valen.lark.dao.system.ISysPermissionDAO">
		<result column="privId" property="privId" jdbcType="INTEGER" />
		<result column="privType" property="privType" jdbcType="TINYINT" />		
		<result column="privName" property="privName" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />		
		<result column="opId" property="opId" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />	    	
	</resultMap>
  	<insert id="create" parameterType="com.valen.lark.dao.system.ISysPermissionDAO">
 		insert into sys_permission(role_name,role_name,state,op_id,create_date,modify_date,remark) values(#{roleId},#{roleName},#{state},#{opId},#{createDate},#{modifyDate},#{remark})
 	</insert>
	
    <select id="getSysPermissionById" parameterType="java.util.Map" resultType="com.valen.lark.dao.system.ISysPermissionDAO">
    	select priv_id as privId, priv_type as privType,priv_name as privName,state, op_id as opId, create_date as createDate,modify_date as modifyDate,remark from sys_permission where priv_id=${privId}
    </select>

    <select id="getSysPermissionMatchName" parameterType="java.util.Map" resultType="com.valen.lark.dao.system.ISysPermissionDAO">
 		select priv_id as privId, priv_type as privType,priv_name as privName,state, op_id as opId, create_date as createDate,modify_date as modifyDate,remark from sys_permission where priv_name like '%${privName}%'  
   </select>
    <select id="getSysPermissionAll" resultMap="SysPerResultMap">
    	select role_id as roleId, role_name as role_name,state, op_id as opId, create_date as createDate,modify_date as modifyDate,remark from sys_permission
    </select>        
 </mapper>
