<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致       
 -->  
 <mapper namespace="com.valen.lark.dao.fault.IFaultDetailInfoDAO">
	<resultMap id="baseResultMap" type="com.valen.lark.bean.fault.FaultDetailInfo">
		<result column="faultId" property="faultId" jdbcType="VARCHAR" />
		<result column="faultDate" property="faultDate" jdbcType="VARCHAR" />
		<result column="faultReporter" property="faultReporter" jdbcType="VARCHAR" />	
		<result column="faultReporterPhone" property="faultReporterPhone" jdbcType="VARCHAR" />		
		<result column="faultSystem" property="faultSystem" jdbcType="VARCHAR" />	
		<result column="faultModule" property="faultModule" jdbcType="VARCHAR" />							
		<result column="faultTitle" property="faultTitle" jdbcType="VARCHAR" />		
		<result column="faultDesc" property="faultDesc" jdbcType="VARCHAR" />
		<result column="faultGrade" property="faultGrade" jdbcType="VARCHAR" />
		<result column="faultType" property="faultType" jdbcType="VARCHAR" />		
		<result column="faultGenTime" property="faultGenTime" jdbcType="TIMESTAMP" />
		<result column="faultRecoverTime" property="faultRecoverTime" jdbcType="TIMESTAMP" />
		<result column="isFault" property="isFault" jdbcType="VARCHAR"/>
		<result column="processSts" property="processSts" jdbcType="VARCHAR" />
		<result column="dealDept" property="dealDept" jdbcType="VARCHAR" />
		<result column="dealMan" property="dealMan" jdbcType="VARCHAR" />		
		<result column="genSite" property="genSite" jdbcType="VARCHAR" />
		<result column="eventId" property="eventId" jdbcType="VARCHAR" />		
		<result column="reason" property="reason" jdbcType="VARCHAR" />	
		<result column="recoder" property="recoder" jdbcType="VARCHAR" />											
		<result column="state" property="state" jdbcType="TINYINT" />		
	    <result column="opId" property="opId" jdbcType="INTEGER" /> 
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />	    	
	</resultMap>
  	<insert id="create" parameterType="com.valen.lark.bean.fault.FaultInfo">
 		insert into ft_fault_detail_info(fault_id,fault_user_id,fault_title,fault_desc,fault_grade,fault_type,fault_gen_time,fault_recover_time,is_fault,process_sts,dept,gen_site,reason,create_date,modify_date,state,op_id,remark) values(#{userName},#{userPasswd},#{email},#{state},#{createDate},#{modifyDate})
 	</insert>
	
    <select id="getFaultDetailInfoAll" parameterType="java.util.Map"  resultMap="baseResultMap">
    	select fault_id as faultId,fault_date as faultDate,fault_title as faultTitle, fault_desc as faultDesc,fault_grade as faultGrade,fault_type as faultType,fault_gen_time as faultGenTime,fault_recover_time as faultRecoverTime,is_fault as isFault ,process_sts as processSts,deal_dept as dealDept ,gen_site as genSite,reason,state, op_id as opId, create_date as createDate,modify_date as modifyDate,remark from ft_fault_detail_info 
    </select>

    <select id="getFaultDetailInfoByFaultTitle" parameterType="java.util.Map" resultMap="baseResultMap">
    	select fault_id as faultId,fault_date as faultDate,fault_title as faultTitle, fault_desc as faultDesc,fault_grade as faultGrade,fault_type as faultType,fault_gen_time as faultGenTime,fault_recover_time as faultRecoverTime,is_fault as isFault ,process_sts as processSts,deal_dept as dealDept ,gen_site as genSite,reason,state, op_id as opId, create_date as createDate,modify_date as modifyDate,remark from ft_fault_detail_info where fault_title like ${faultTitle}
    </select>
        
 </mapper>
